body {
  background: blanchedalmond;
}

* {
  border: 1px solid mediumvioletred
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.a {
  min-height: 30vh;
  margin: 1em; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.b {
  min-height: 30vh;
  margin: 1em; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.c {
  min-height: 30vh;
  margin: 1em; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }

  .b {
    width: 70%;
  }
}
